<!doctype html>
<html>
  <head>
    <title>Generate Leetcode Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1>Generate Leetcode Blog using Leetcode problem number</h1>
          <form method="POST" action="/">
            <div class="form-group">
              <label for="input-text">Enter Leetcode Problem Number</label>
              <input type="number" class="form-control" id="input-text" name="leetcode_problem_number" min="1" max="2017" required>
              <div class="invalid-feedback">
                Please enter some text.
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container mt-5">
        <h2>Response for Leetcode problem Number {{ problem_number }} is: </h2>
          {{ response|safe }}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>
